
@{
    ViewBag.Title = "AjaxPollVote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title></title>
</head>
<body>
    <form id="form1">
        <div>

        </div>
    </form>

</body>

